#gallery{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: aqua;

}
.gallery-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}

.gallery-container {
    flex: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 25px;
}

.gallery-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 1.8s ease-in-out;
    
}

.gallery-card:hover {
    flex: 19;
}

.gallery-img {
    flex: 14;
    background-image: url("/assets/images/Akaname.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: inset 5px var(--color-2);
    border-radius: 35px; 
}

.gallery-buttons-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
}

.gallery-button {
    flex: 1;
    background-color: brown;
    cursor: pointer;

}

.gallery-button:hover {
    background-color: wheat;
}
