#home {
    justify-content: start;
}

#home-info {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 40%;
}

#home-info p {
    color: var(--color-4);
    flex: 3;
    text-align: center;
}

#home-info p strong {
    color: var(--color-2);
}

#home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-title h1 {
    font-size: 7vmin;
    font-weight: bolder;
    flex: 1;
    color: var(--color-2);
    text-shadow: 5px 5px 0px var(--color-4), -5px -5px 0px var(--shadows);
    margin: 0;
}

#home-gallery {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1%;
    padding: 35px;
}

.home-gallery-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: 250px;
}

.home-gallery-card a{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    border: inset 5px var(--color-2);
    border-radius: 35px;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    text-decoration: none;
    color: var(--color-4);
    transition: all 1s;
}

.home-gallery-card:hover a{
    margin-top: -25%;
    background-position: center;
    background-size: cover;
    filter: grayscale();
    opacity: 0.7;
    box-shadow: 0px 20px 0px var(--shadows);
}

.home-gallery-card p{
    z-index: 2;
    position: absolute;
    opacity: 0;
    transition: margin 1s, text-shadow 1.3s cubic-bezier(0.175, -0.885, 0.32, 2.275);;
    font-size: 120%;
    font-weight: bolder;
    color: white;
}

.home-gallery-card:hover p{
    margin-top: 10%;
    opacity: 1;
    color: transparent;
    text-shadow:10px 10px 0px white, 10px 10px 10px var(--color-2); 
}

@media (orientation: portrait) {
    #home-info {
        max-height: 20%;
    }
    #home-gallery {
        max-height: 30%;
        flex-direction: column;
        gap: 10%;
    }
    .home-gallery-card a{
        background-position: bottom;
    }
    .home-gallery-card{
        max-width: 100%;
    }
    .home-gallery-card p{
        font-size: 100%;
    }
    .home-gallery-card:hover a{
        margin-top: -5%;
        background-position: center 30%;
        background-size: cover;
        filter: grayscale();
        box-shadow: 0px 10px 0px var(--shadows);    
        }
    .home-gallery-card:hover p{
        margin-top: -5%;
    }
}