/* Enabled on Entire Site */
html {
  scroll-behavior: smooth;
}

/* COLORS */
:root {
  --color-1: #332D25;
  --color-2: #D68B44;
  --color-3: #719A80;
  --color-4: #1DA0BA;


}

/* MAIN ELEMENTS */
body {
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Syncopate', sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}

a {
  text-decoration: none;
  padding: 3rem;
}

h1 {
  font-size: 7vmin;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; 
}

p {
  padding: 2vmin;
  font-size: 2vmin;
}

/* CUSTOM CLASSES */
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  right: 0;
  max-height: 200%;
  width: 95%;
  margin-left: 10rem;
  padding: 2%;
  border-radius: 50px;
}

.previewer {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap:10px
  
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* TARGETED ELEMENTS */
.previewer > div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  flex:1;
  border: 5px Inset var(--color-2);
  border-radius: 50px;
  transition: all .8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.previewer > div:hover {
  margin-top: -5%;
}

.previewer div a{
  z-index: 1;
  position: absolute;
  font-size: 120%;
  text-align: center;
  opacity: 0;
  font-weight: bolder;
  color: var(--color-2);
  transition: all .8s;
}

.previewer > div:hover > a{
  opacity: 1;
  color: var(--color-4);
  margin-top: 37vmin;
}

.previewer > div a:hover {
  color:  var(--color-2);
  text-shadow: 0px 0px 10px var(--color-2);
} 

/* Orientation */
@media (orientation: landscape) {
  
  
}
  
@media (orientation: portrait) {
  section {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .wrapper {
    margin-left: 0;
  }

  h1 {
    font-size: 4vmax;
    text-align: end;
    margin-right: 10%;
  }

  #history p {
    font-size: 1.5vmin;
  }

  .previewer {
    flex-direction: column;
  }
  
  .previewer > div {
    background-position: center;
    border-radius: 25px;
    
  }
  .previewer > div:hover {
    transform: translate(-5%, 0%);
    transition: all .8s;
    z-index: 1;
    opacity: 1;
  }

  .previewer > div:hover > a{
    margin-top: 0px;
    opacity: 1;
    color: whitesmoke;
    text-shadow: 0px 0px 10px white;
    font-size: 3vmin;
  }
}