body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Syncopate', sans-serif;
}

.main {
    margin-left: 10rem;
    padding: 10px;
}

section {
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

a {
    text-decoration: none;
    padding: 3rem;
}



/* Orientation */

@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }