/* Enabled on Entire Site */
html {
  scroll-behavior: smooth;
}

/* COLORS */
:root {
  --color-1: #332D25;
  --color-2: #D68B44;
  --color-3: #719A80;
  --color-4: #1DA0BA;
  --shadows: rgba(128, 128, 128, 0.25);

}

/* MAIN ELEMENTS */
body {
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Syncopate', sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  justify-content: baseline;
}

a {
  text-decoration: none;
  padding: 3rem;
}

h1 {
  font-size: 10vh;
  text-align: center;
  /* margin-top: 10px; */
  margin-bottom: 0; 
}

h3 {
  padding-top: 15px;
  font-size: 2vmax;
}

p {
  padding: 1%;
  font-size: 2vmin;
}

/* CUSTOM CLASSES */
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  right: 0;
  height: 100%;
  width: 95%;
  margin-left: 10rem;
  border-radius: 50px;
}
.wrapper-2 {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  justify-items: center;
  height: 60%;
  border-radius: 20px;
  margin-left: 10rem;
}


.wrapper-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 80vw;
  flex: 6;
  border-radius: 20px;
  padding-left: 10rem;
  margin-top: 5%;
}

.previewer {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap:10px
  
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.art-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 50px;
  background-color: white;
  border: 5px Inset var(--color-2);
  box-shadow: 0px 10px 0px var(--shadows);
  transition: all 1s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 150%;;
  color: whitesmoke;
  text-shadow: 0px 0px 10px white;
}

.gallery-buttons {
  display: flex;
  width: 100%;
}

/* TARGETED ELEMENTS */
.art-card h3 {
  flex:2;
}

.gallery-buttons a {
  position: relative;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0%;
  padding: 0px;
  font-size: 150%;
  color: white;
  cursor: pointer;
}

.wrapper-2 p {
  font-size: 1vmax;
  line-height: 1.5;
  color: whitesmoke;
}

.wrapper-3 > div .art-card:hover {
  flex: 3;
  background-position: center;
}

.wrapper-3 > div {
  display: flex; 
  flex: 1; 
  flex-direction: row;
  aspect-ratio: 1/1;
  width: 50%;
}

.previewer > a:hover {
  transform: translate(0px, -15%);
  box-shadow: 0px 15px 0px var(--shadows);
  background-position: center;
}

.previewer > a {
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  max-height: 90%;
  flex:1;
  border: 5px Inset var(--color-2);
  border-radius: 50px;
  transition: all .8s ;
  /* cubic-bezier(0.25, 0.4, 0.45, 1.4); */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.previewer a p{
  z-index: 1;
  position: absolute;
  font-size: 90%;
  text-align: center;
  opacity: 0;
  font-weight: bolder;
  color: var(--color-2);
  transition: all .8s;
}

.previewer > a:hover > p{
  opacity: 1;
  margin-top: 44vmin;
}


/* Orientation */
@media (orientation: landscape) {
  
  
}
  
@media (orientation: portrait) {
  section {
    padding-top: 13%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    justify-content: center;

  }

  .wrapper {
    margin-left: 0;
  }

  .wrapper-2 {
    margin-top: 30px;
    margin-left: 0px;
  }

  .wrapper-3 {
    margin-left: 0px;
    padding-left: 0%;
    padding-top: 45vh;
  }

  .wrapper-3 > div {
    flex-direction: column;
    width: 100%;
  }

  h1 {
    font-size: 4vmax;
    text-align: end;
    margin-right: 10%;
  }

  h3 {
    margin: 0px;
  }
  

  .previewer {
    flex-direction: column;
    
  }

  .previewer > a {
    background-position: center;
    padding: 0px;
  }

  .previewer > a:hover {
    transform: translate(0px, -10%);
    box-shadow: 0px 10px 0px var(--shadows);
  }

  .previewer > a:hover > p{
    margin-top: 5%;
    color: white;
    text-shadow: 0px 0px 10px white;
  }
 
}