/* WEB SCROLLBAR */
/* width */
::-webkit-scrollbar {
    margin-left: 5vw;
    width: 10px;
    height: 90%;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: whitesmoke; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 5px;
    text-shadow: 5px 0px 5px black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gold;
    
  }