/* NAVIGATION */
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    top: 0;
    bottom: 0;
}
.custom-nav {
    padding-top: 10vh; 
    display: flex;
    flex-direction: column;
}
.custom-icon:hover .icon-ft {
    text-shadow: 0px 0px 15px;
}

.custom-nav .icon-ft {
    position: relative;
    font-size: 5rem;
    color: whitesmoke;
    transition: all 1s;
}
.custom-icon:hover .icon-bg {
    text-shadow: 0px 10px 0px var(--shadows);
    
}

.custom-nav .icon-bg{
    position: absolute;
    z-index: -1;
    font-size: 10rem;
    transform: translate(-25%, -30%);
    text-shadow: 0px 0px 0px var(--shadows);
    transition: text-shadow 1s;
}

.custom-icon:hover {
    transform: translate(0, 0%);

}
.custom-icon {
    flex: 1;
    transform: translate(0, 15%);
    text-align: center;
    margin: -50px;
    transition: all 1s;
}
.custom-icon:hover p {
    opacity: 1;
    transform: translate(0%,-0%);
    text-shadow: 0px 0px 15px white
    ;
}
.custom-icon p {
    transition: all 1s;
    opacity: 0;
    transform: translate(0%,-180%);
}


/* Orientation */

@media (orientation: landscape) {    
    .custom-icon {
        margin-top: -50%;
    }
    
    .custom-nav .icon-ft {
        font-size: 4rem;
    }
    
    .custom-nav .icon-bg{
        font-size: 8rem;
    }

}

@media (orientation: portrait) {
    nav {
       width: 100%;
       height: 15vh;
       justify-content: top;
       align-items: center;
    }

    .custom-nav {
        display: flex;
        flex-direction: row;
    }

    .custom-icon:hover p {
        transform: translate(0%,-0%);
    }
    
    .custom-icon p {
        transform: translate(0%,-150%);
    }
    
}